<div
  class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md"
>
  <div class="container">
    <h3>Page under construction</h3>
    <!-- <div class="user-list">
      <h3>Users</h3>
      <ul>
        <li
          *ngFor="let user of initialUserData"
          (click)="onUserSelect(user)"
          [class.selected]="user === selectedUser"
        >
          {{ user.name }}
        </li>
      </ul>
    </div>

    <div class="chart-container" *ngIf="selectedUser">
      <h2>{{ selectedUser.name }}'s workout progress</h2>
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [chartType]="barChartType"
      >
      </canvas>
    </div> -->
  </div>
</div>
